extends layout
block content
    h3.page-title #{title}
    form.write-form (method='post')
        div.item
            label.label(for='text') 此刻的想法：
            textarea(name='text',id='text',placeholder='说说你现在的想法')
        div.item
            label.label
            input.btn(type='submit',value='发布',id='publish',name='publishBtn')
